table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

body{
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgb(243, 199, 178),rgb(255, 255, 255));
    background-attachment: fixed;
    margin:0;
}

h2,h3{
    font-family: 'Georgia', 'Times New Roman', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 4px,4px,black;
}

h3{
    font-size: 1em;
}

h1{
    font-size: 5em;
    font-weight: 500;
    line-height: 300%;
    margin:0;
    font-weight:bold;

}

h1,nav,footer{
    font-family: 'Georgia', 'Times New Roman', 'sans-serif';
}

footer nav ul li a{
    text-align: center;
}

.item50 a{
    text-decoration-line: none;
    color: white;
}

#copyright{
    font-family: 'Georgia', 'Times New Roman', 'sans-serif';
    font-style: italic ;
}

header,footer{
    color:#eee;
}

h2,nav a{
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2{
    font-weight:bold;
    font-size: 2em;
    text-shadow: 3px, 3px, black;
}

h1,nav,#copyright{
    text-align: center;
}

nav a{
    text-decoration: none;
    display: inline-block;
    padding:10px 20px;
}

header{
    background-image: url(../images/gymmm.webp);
    background-size: cover;
    background-position: center;
}

footer{
    background-image: url("../images/rack3.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0;
    font-size: Medium;
    text-align: center;
}

footer nav a{
    color:#eee;
    display: block;
    text-align: left;
    padding:10px 0px 10px 0px;
    margin: 0 10% 0 10%;
}

footer{
    padding:10px 10%;
    margin-top: 20px;
}

#wrapper{
    width: 90%;
    margin: auto;
    font-size: large;
    font-family: 'Georgia', 'Times New Roman', 'sans-serif';
}

p{
    font-family: 'Georgia', 'Times New Roman', 'sans-serif';
}

ul{
    padding: 0;
    list-style: none;
}
ul li{
    display: inline;
}


#Gym{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
#categories{
    margin: 40px 0px;

}

#categories section{
    margin-bottom: 20px;
}

nav a{
    padding: 10px 40px;
}

nav a:hover{
    text-shadow: 0px 0px 1px rgb(20,70,20);
}

main{
    overflow: hidden;
    border-left:1px solid rgb(158,194, 143);
}

h1 a{
    text-decoration: none;
    color: #eee;
}

h1 a:hover{
    text-shadow: 2px 2px 10px white;
}




#copyright{
    clear: both;
}

.icon{
    display: block;
    font-size: 3em;
    color:rgb(35,102, 12);
}

.item25{
    float: left;
    width: 33%;
    text-align: center;
}
.item25 img{
    height: auto;
    width: 100%;
}

#plans{
    color: black;
    text-decoration: none;
    overflow: auto;
}
#plans a:visited{
    color: black;
}

#categories section{
    float: left;
    width: 50%;
    overflow: auto;
}

.item50{
    width: 25%;
    float: left;
    margin-left: 50%;   
}

.item33{
    float: left;
    width: 25%;
}

#categories img{
    height: 160px;
    width: 160px;
    float: left;
    object-fit: cover;
    margin: 0 1em;
}

#categories h3{
    margin-top: 0;
}

.mobile{
    display: none;
}

